:root {
  --color-dark-pink: #ba4270;
  --color-light-pink: #da6d97;
  --color-juan-blue: #36536b;
  --color-dark-blue: #1b262f;
  --color-light-blue: #6c8294;
  --color-white: #fff;
  --color-milk-white: #FBFCFE;
  --main-font: "Public Sans", "Arial", sans-serif;
  --secondary-font: "DM Serif Display", "Times New Roman", serif;
  --border-radius: 24px;
}
@media only screen  and (min-width: 1024px){
  .container{
    padding:  0 30px;
  }
  .top{
    background-position: calc(50% +  450px)  calc(50% - 400px);
    z-index: 1;
  }

  .site-header{
    padding-bottom: 75px;
  }
  .sitenav__link{
  transition: color 0.3s ease;
  }

  .sitenav__link:hover {
    color: var(--color-juan-blue);

  }

  .sitenav__link:active {
    opacity: 0.6;
  }


  .hero__container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .hero__picture {
    margin-right: 50px;
    margin-bottom: 0;
    width: 263px;
    height: 500px;
  }

  .hero__img{
    width: 263px;
    height: 500px;
  }

  .hero__heading{
    padding: 0;
    width: 500px;
  }

  .hero__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .hero__heading{
    width: 550px;
    font-size: 72px;
    line-height: 72px;

  }

  .hero-form{
    padding: 0;
  }

  .hero-form__button{
    margin-bottom: 0;
  }

  /* DESKTOP PARTNERS */
  .partners{
    position: relative;
    padding: 100px 0;

  }

  .partners::before{
    content: '';
    z-index: 0;
    position: absolute;
    top: calc(50% - 600px);
    left: calc(50% - 960px);
    width: 780px;
    height: 780px;
    background-image: url("../img/partner-bg.png");
    background-repeat: no-repeat;
  }

  .partenrs__container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .partners__list{
    padding: 0;
    width: 540px;
  }

  .partners__content{
    width: 445px;
    text-align: left;
    margin-right: auto;
    margin-left: 0;
  }

  .partners__heading{
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.5px;

  }

  .partenrs__info{
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 28px;
    color: #FBFCFE;
    opacity: 0.7;
  }

}
